.card-container {
    background-color: var(--custom-lightgray);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 250px;
    min-height: 370px;
}

.card-body {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    background-color: var(--custom-lightgray);
    color: white;
    height: 60px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    text-align: left;
}

img {
    height: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--custom-green);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    gap: 15px;
}

.edit-icon:hover {
    color: var(--custom-green)
}

.delete-icon:hover {
    color: red;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    accent-color: green;
}

h1 {
    font-size: 15px;
    font-weight: 300;
    padding-top: 10px;
}

h2 {
    font-size: 12px;
    font-weight: 300;
}

span,
p {
    font-size: 11px;
}

.status {
    background-color: #659442;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    font-size: 10px;
}

.open {
    background-color: var(--custom-green);
    width: 25%;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    align-self: flex-end;
}

/* ---------------------------HOMEPAGE TOGGLE-------------------------- */

.homepage {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    padding-top: 10px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc67;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--custom-green);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------------------------------------------ */