<div class="card-container sector">
    <div class="card-header">
        <input type="checkbox" name="selectItem" id="selectItem" />
        <div class="icons">
            <fa-icon class="edit-icon" [icon]="faPencil" (click)="onOpenEditor(data)"></fa-icon>
            <fa-icon class="delete-icon" [icon]="faTrashCan" (click)="onDelete(data)"></fa-icon>
        </div>
    </div>
    <img [src]="'../../../assets/images/' + data.image" />


    <!------------------------- PAVILIONS ------------------------->
    <div *ngIf="cardType === 'pavilion'" class="card-body">
        <h1>{{data.name}}</h1>
        <h2>{{data.area.toUpperCase()}}</h2>
        <span>Powered by: {{data.poweredBy.toUpperCase()}}</span>
        <p>{{data.description}}</p>
    </div>

    <!--------------------------- SECTORS --------------------------->
    <div *ngIf="cardType === 'sector'" class="card-body">
        <div class="homepage">
            <span>Homepage:</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <h1>{{data.name}}</h1>
        <h2>Associated Stands: {{data.associatedStands}}</h2>
        <div class="status">{{data.status}}</div>
        <p>Last modified {{data.lastEdit}}</p>
    </div>

    <!---------------------------- STAND ----------------------------->
    <div *ngIf="cardType === 'stand'" class="card-body">
        <h1>{{data.name}}</h1>
        <h2>Pavilion {{data.pavilion}}</h2>
        <h2>Sector {{data.sector}}</h2>
        <h2>Dimensions {{data.dimensions}}</h2>
        <h2>Assigned to: --</h2>
        <h2 class="open">Open</h2>
    </div>

    <!------------------------ MERCHANDISE ------------------------>
    <div *ngIf="cardType === 'merchandise'" class="card-body">
        <div class="homepage">
            <span>Homepage:</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
    </div>
</div>