<!------------------------- PAVILIONS ------------------------->
<div *ngIf="cardType === 'pavilion'">
    <div class="card-container">
        <div class="card-header">
            <input type="checkbox" name="selectPavilion" id="selectPavilion" />
            <fa-icon class="icon" [icon]="faEllipsisVertical"></fa-icon>
        </div>
        <img [src]="'../../../assets/images/' + data.image" />

        <h1>{{data.name}}</h1>
        <h2>{{data.area.toUpperCase()}}</h2>
        <span>Powered by: {{data.poweredBy.toUpperCase()}}</span>
        <p>{{data.description}}</p>
    </div>
</div>
<!--------------------------- SECTORS --------------------------->
<div *ngIf="cardType === 'sector'">
    <div class="card-container">
        <div class="card-header">
            <input type="checkbox" name="selectSector" id="selectSector" />
            <fa-icon class="icon" [icon]="faEllipsisVertical"></fa-icon>
        </div>
        <img [src]="'../../../assets/images/' + data.image" />
        <div class="homepage">
            <span>Homepage:</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <h1>{{data.name}}</h1>
        <h2>Associated Stands: {{data.associatedStands}}</h2>
        <span class="status">{{data.status}}</span>
        <p>Last modified {{data.lastEdit}}</p>
    </div>
</div>
<!---------------------------- STAND ----------------------------->
<div *ngIf="cardType === 'stand'">
    <div class="card-container">
        <div class="card-header">
            <input type="checkbox" name="selectStand" id="selectStand" />
            <fa-icon class="icon" [icon]="faEllipsisVertical"></fa-icon>
        </div>
        <img [src]="'../../../assets/images/' + data.image" />

        <h1>{{data.name}}</h1>
        <span>Pavilion {{data.pavilion}}</span>
        <span>Sector {{data.sector}}</span>
        <span>Dimensions: {{data.dimension1}} m x {{data.dimension2}} m</span>
        <span>Assigned to: --</span>
        <span class="open">Open</span>
    </div>
</div>
<!------------------------ MERCHANDISE ------------------------>
<div *ngIf="cardType === 'merchandise'">
    <div class="card-container">
        <div class="card-header">
            <input type="checkbox" name="selectMerchandise" id="selectMerchandise" />
            <fa-icon class="icon" [icon]="faEllipsisVertical"></fa-icon>
        </div>
        <img [src]="'../../../assets/images/' + data.image" />
        <div class="homepage">
            <span>Homepage:</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <h1>{{data.name}}</h1>
        <span>{{data.description}}</span>
    </div>
</div>
