<app-display-bar></app-display-bar>
<app-add-new-button (btnClick)="showAddNew()"></app-add-new-button>
<div *ngIf="isFormVisible">
    <app-sector-item (onAddNew)="addNew($event)" (onEditItem)="editItem($event)" [editData]="editData"
        (onClose)="closeForm()"></app-sector-item>
</div>
<div class="card-grid-container"><app-card *ngFor="let sector of sectors" [data]="sector" cardType="sector"
        (onDeleteItem)="deleteItem(sector)" (onOpenEditItem)="openEditItem(sector)">
    </app-card></div>