.bars-view-header {
    display: flex;
    width: 1000px;
    align-items: center;
    padding: 8px;
    background-color: var(--custom-green);
    color: white;
    font-size: 13px;
    margin: auto;
    justify-content: space-around;
}

.bars-h {
    width: 20%;
    display: flex;
    justify-content: space-around;
   
}

.bars-b {
    width: 100%;
    display: flex;
    justify-content: space-around;
}