/* ------------------------GENERAL------------------------- */
:root {
    --custom-darkgray: #282722;
    --custom-darkgray-tr: #282722d5;
    --custom-green: #2a9a6a;
    --custom-lightgray: #505351;
    font-family: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}


html {
    height: 100vh;
    background: radial-gradient(ellipse at top, rgba(55, 67, 68, 1) 0%, rgb(28, 24, 19) 50%);
}

body {
    height: 100vh;
}

/* ------------------------CARD VIEW------------------------- */
.card-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 20px;
    margin: 30px auto;
}

/* ---------------------HORIZONTAL VIEW---------------------- */
.horizontal-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 50px auto;
}

/* ---------------------ADD/EDIT CARDS---------------------- */
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-container {
    background-color: var(--custom-darkgray-tr);
    width: 55%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    justify-content: space-evenly;
    min-width: 600px;
    padding: 15px;
}

.form-header {
    border-bottom: 1px solid var(--custom-green);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-body {
    display: flex;
    justify-content: space-around;

}

.form-footer {
    align-self: flex-end;
    padding: 15px;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-container label {
    padding-bottom: 10px;
}

.box1,
.box2,
.box3 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    padding-right: 20px;
    font-size: 20px;
}

.temp-img {
    width: 70px;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-flex;
}

/* -----------------LOGIN AND REGISTER PAGES----------------- */

.login-register {
    background-color: rgba(98, 95, 95, 0.126);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
}

.login-register input,
select {
    background-color: var(--custom-darkgray);
    border: 1px solid var(--custom-green);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 40px;
    font-size: 15px;
    margin-top: 10px;
    color: white;
}


.login-register button {
    background-color: var(--custom-green);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-register h1 {
    color: var(--custom-green);
    font-size: 45px;
    text-shadow: black 0px 0px 5px, black 0px 0px 15px;
}

.login-register span {
    color: white;
}

.login-register a {
    color: var(--custom-green);
}





