<div class="horizontal-menu">
    <a routerLink="/pavilions" routerLinkActive="active">PAVILIONS</a>
    <a routerLink="/sectors" routerLinkActive="active">SECTORS</a>
    <a routerLink="/stands" routerLinkActive="active">STAND</a>
    <a routerLink="/not-found" routerLinkActive="active">POI</a>
    <a routerLink="/merchandise" routerLinkActive="active">MERCHANDISE CATEGORIES</a>
    <a routerLink="/not-found" routerLinkActive="active">BRANDS REPRESENTED</a>
    <a routerLink="/not-found" routerLinkActive="active">BRAND</a>
    <a routerLink="/not-found" routerLinkActive="active">BUSINESS CATEGORIES</a>
    <a routerLink="/not-found" routerLinkActive="active">EVENTS</a>
    <a routerLink="/not-found" routerLinkActive="active">STORE</a>
</div>
