<div class="overlay">
    <div class="form-container">
        <div class="form-header">
            <h1>PAVILION</h1>
            <button class="close-btn" (click)="onClose.emit()">X</button>
        </div>
        <form class="form-main"(ngSubmit)="onSubmit()">
            <div class="form-body">
                <div class="box1">
                    <div class="form-control">
                        <label for="text">Name</label>
                        <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Add Name" />
                    </div>
                    <div class="form-control">
                        <label for="area">Area</label>
                        <input type="text" name="area" [(ngModel)]="area" id="area" placeholder="Add Area" />
                    </div>
                    <div class="form-control">
                        <label for="poweredBy">Powered by</label>
                        <input type="text" name="poweredBy" [(ngModel)]="poweredBy" id="poweredBy"
                            placeholder="Add Powered by" />
                    </div>
                    <div class="form-control">
                        <label for="tags">Tags</label>
                        <input type="text" name="tags" [(ngModel)]="tags" id="tags" placeholder="Add tags" />
                    </div>
                </div>
                <div class="box2">
                    <div class="form-control">
                        <label for="image">Image</label>
                        <img class="temp-img" src="../../../assets/images/blurpic.png" />
                        <input type="text" name="image" [(ngModel)]="image" id="area" value="image1.png"
                            placeholder="image1.png" readonly />
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea rows=8 type="text" name="description" [(ngModel)]="description" id="description"
                            placeholder="Add Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" value="Save" class="submit-btn" />
            </div>
        </form>
    </div>
</div>